.myBold {
  font-weight: bold;
}

.myHeader {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 10px;
}

.site-Nav {
  text-align: center;
}

.post, .myHomepage {
  padding: 0px 20px; 
}

.site-footer {
  padding-left: 20px; 
  padding-right: 20px;
  padding-bottom: 10px;
}

.myTextAlignRight {
  text-align: right;
}

.myHeaderPadding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.myFooterPadding {
  padding-bottom: 15px;
}

.myNavPadding {
  padding-left: 30px;
  padding-right: 30px;
}

.myCenter {
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

# CSS for breadcrumbs
nav.breadcrumbs.bootstrap {
  /* from Twitter Bootstrap 4 */
  /* If you already use Twitter, you do not need these css lines above, cause they already in Twitter Bootstrap */
  /* Additions: image integration */
}
nav.breadcrumbs.bootstrap ol {
  margin-left: 0
}
nav.breadcrumbs.bootstrap .breadcrumb {
  font-size: 1rem;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #D3D3D3;
  border-radius: 0.25rem;
}
nav.breadcrumbs.bootstrap .breadcrumb::after {
  content: "";
  display: table;
  clear: both;
}
nav.breadcrumbs.bootstrap .breadcrumb-item {
  float: left;
}
nav.breadcrumbs.bootstrap .breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #818a91;
  content: "/";
}
nav.breadcrumbs.bootstrap .breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
}
nav.breadcrumbs.bootstrap .breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}
nav.breadcrumbs.bootstrap .breadcrumb-item-active {
  color: #818a91;
}

nav.breadcrumbs.bootstrap .breadcrumb a.breadcrumb-item:after {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  content: "/";
  text-decoration: none;
}
nav.breadcrumbs.bootstrap .breadcrumb .icon:after {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #818a91;
  content: "/";
}
nav.breadcrumbs.bootstrap .breadcrumb .icon {
  display: inline-block;
}
nav.breadcrumbs.bootstrap .breadcrumb .icon svg {
  height: 0.7rem;
  width: 0.7rem;
}
