---
layout: default
---

<article class="myHomepage">
  <h1 class="myBold">Welcome to my blog</h1>

  <p>
    Here you'll find ramblings, awful grammar, faithful attempts at Linux nonsense, and other nonsensical garbage.
  </p>

  <p>
    See the about me to find out what a Clifford is. Click any of the social links to bff it up. Read my self hosted, dynamically built Jekyll blog while you are here as well. The internet at it's finest awaits you here.
  </p>

</article>
