<hr>
<footer class="site-footer">

  <div class="row">

    <div class="one-third column myFooterPadding">
      
      <h5 class="myBold"> 
	Support the Blog!
      </h5>
      
      <p>
        If you find my content interesting or useful, consider throwing some bones my way!
      </p> 
      
      <a href="https://liberapay.com/cliffordgarwood.com/">
	<img src="/assets/lp-icon-v2_yellow-r.svg" width="60" height="60" alt="librepay logo">
      </a>
      
    </div>

    <div class="one-third column myFooterPadding">
      <h5 class="myBold">Get Social!</h5>
      {% if site.bitbucket_username %}
        {% include bitbucket.html username=site.bitbucket_username %}
      {% endif %}

      {% if site.linkedin_username %}
        {% include linkedin.html username=site.linkedin_username %}
      {% endif %}
      
      {% if site.steam_username %}
        {% include steam.html username=site.steam_username %}
      {% endif %}

    </div>

    <div class="one-third column myFooterPadding">
      <h5 class="myBold">Recent Posts!</h5>
          <ul>
	    {% for post in site.posts limit:3 %}
	    <li><a href="{{ post.url }}">{{ post.title }}</a>
	    {% endfor %}
	  </ul>
    </div>

  </div>

</footer>
</div>
