<div class="container">
<header class="myHeader">

  <div class="row">
    <img src="/assets/banner.jpeg" alt="Clifford Garwood Banner" /> 
  </div>

  <div class="row">
      <nav class="site-Nav">
	  <a href="/"><i class="fas fa-home myNavPadding"></i></a>
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="myNavPadding" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </nav>
  </div>

</header>
